<section id="<%= dom_id link %>" class="form-fields">
  <div class="row field">
    <div class="col"><strong>Title:</strong></div>
    <div class="col"><%= link.title %></div>
  </div>

  <div class="row field">
    <div class="col"><strong>Url:</strong></div>
    <div class="col"><%= link.url %></div>
  </div>
</section>