<h1>
  Link details
</h1>
<%= render @link %>

<section class="bottom-links">
  <% if @link.user == current_user %>
    <div class="row">
      <div class="col"><%= button_to "Delete", @link, method: :delete %></div>
    </div>
  <% end %>
</section>
<div>
  <%= link_to "Back", links_path %> |
  <% if @link.user == current_user %>
    <%= link_to "Edit", edit_link_path(@link) %>
  <% end %>
</div>